body{
	background-color: #228B22;
	}

header {
  background-color: #EBB813;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: inline-block
}

#main-navbar ul li {
  float: left;
  
}

#main-navbar ul li a {
  display: block;
  padding: 10px 234px;
  color: #fff;
  text-decoration: Highlight;
}

#main-navbar ul li a:hover {
  background-color: #E7DA13;
}

#navbar-container {
  width: 100%;
  position: relative;
  text-align: center;
}
